.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.cnt {
  position: absolute;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.4;
  opacity: 0.6;
  transition: opacity 0.2s ease;
  border: 1px solid var(--color-separator);
  border-radius: 16px;
}
.afterOpen {
  opacity: 1;
}
