@import '~/styles/utils/custom-media';

.updatedAt {
  margin-bottom: 12px;
  margin-left: 5px;
  small {
    color: #777;
  }
}

.body {
  padding: 10px;
  background-color: var(--color-background);
  border: 1px solid var(--color-separator);
  border-radius: 16px;
  transition: border-color 0.15s ease;

  &:hover {
    border-color: var(--color-text-secondary);
  }
}

.actionFooter {
  display: flex;
  button {
    margin: 0 5px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
