@import '~/styles/utils/custom-media';

.btn {
  -webkit-appearance: none;
  outline: none;
  user-select: none;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-btn-fg);
  background: var(--color-btn-bg);
  border: none;
  border-radius: 9999px;
  transition: opacity 0.15s ease;

  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.5;
  }

  font-size: 0.75em;
  padding: 6px 14px;
  @media (--breakpoint-not-small) {
    font-size: small;
    padding: 8px 18px;
  }

  &.minimal {
    background: none;
    color: var(--color-text-secondary);
    &:hover {
      opacity: 0.7;
      color: var(--color-text);
    }
  }
}

.btn:disabled {
  opacity: 0.3;
}

.btnInternal {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

.btnStart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.loadingContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
}
