.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1024;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  outline: none;
  color: var(--color-text);
  background: var(--color-background);
  padding: 24px;
  border-radius: 16px;
  border: 1px solid var(--color-separator);
}
